<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032740394300-ome1039pskbjkkrtdumaod6dlrnednvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032740394300-ome1039pskbjkkrtdumaod6dlrnednvk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1032740394300-is1js09b2vp3gn25qke3nu1tdvbv6bvu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwcZ7Kh52NgU4OEF3CCXk2g43qz2gpF0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1032740394300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rides</string>
	<key>PROJECT_ID</key>
	<string>ride-7d2c5</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-7d2c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032740394300:ios:3ae4204bcd9d8e2ca8fa39</string>
</dict>
</plist>